<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NAME</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="static/script.js" defer></script>
</head>

<body>

  <h1>NAME</h1>

  <div class="wrapper">
    <div class="uploader">
      <label for="files"><strong>Select files</strong></label><br>
      <input class="files" id="files" type="file" multiple accept="audio/*">
      <div class="files-list" aria-live="polite">
        <ul id="fileList"></ul>
        <div id="summary"></div>
      </div>
    </div>

    <br>
    <button id="collide" class="collide" type="submit" name="collide">Collide!</button>

  </div>


</body>

</html>