<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clip Collide!</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="static/script.js" defer></script>
</head>

<body>

  <header>
    <h1>Clip Collide!</h1>
  </header>

  <div class="wrapper">
    <div class="uploader">
      <label for="files"><strong>Select files</strong></label>
      <label for="files" class="label-button">Browse</label>
      <input class="files" id="files" type="file" multiple accept="audio/*">
      <div class="files-list" aria-live="polite">
        <ul id="fileList"></ul>
      </div>
    </div>

    <button id="collide" class="collide" type="submit" name="collide" style="display: none;">Collide!</button>


    <div class="audio-wrapper" id="audio-wrapper" style="display:none">
      <audio id="audio" controls></audio>
      <div id="audio-meta" class="meta"></div>
      <button class="download-btn">Download</button>
    </div>
  </div>

</body>

</html>