body {
  font-family: sans-serif;
  padding: 20px;
}
* {
  box-sizing: border-box;
}

.uploader {
  border: 1px dashed #bbb;
  padding-top: 16px;
  padding-left: 16px;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
}
.uploader label {
  display: inline-block;
}
.files-list {
  margin-top: 10px;
  font-size: 14px;
}
.files-list li {
  margin: 4px 0;
}

.prog-wrap {
  background-color: #f1f1f1;
  border-radius: 6px;
  overflow: hidden;
  height: 10px;
  width: 100px;
}

.prog {
  width: 0%;
  height: 100%;
  background: #1e90ff;
}

.meta {
  width: 100%;
  font-size: 13px;
  margin-top: 6px;
  color: #333;
}

.audio-list-item {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
}

.collide {
  padding: 12px 20px;
  background-color: #1e90ff; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 6px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition:
    background-color 0.3s ease,
    transform 0.2s ease; /* Smooth transition */
}

.collide:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
  transform: scale(1.05); /* Slight scaling effect on hover */
}

.collide:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 4px rgba(30, 144, 255, 0.5); /* Custom focus ring */
}
