body {
  font-family: sans-serif;
  padding: 20px;
}
.uploader {
  border: 1px dashed #bbb;
  padding: 16px;
  border-radius: 8px;
  display: inline-block;
}
.files-list {
  margin-top: 10px;
  font-size: 14px;
}
.files-list li {
  margin: 4px 0;
}

.prog-wrap {
  background-color: #f1f1f1;
  border-radius: 6px;
  overflow: hidden;
  height: 10px;
  width: 100px;
}

.prog {
  width: 0%;
  height: 100%;
  background: #1e90ff;
}

.meta {
  width: 100%;
  font-size: 13px;
  margin-top: 6px;
  color: #333;
}

.audio-list-item {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
}
